.navbar {
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 4fr;;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

